body{
	margin:0;
	padding:0;
	font-family: "Roboto", Arial, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	background-color:#ffffff;
}

a{
	text-decoration: none;
	color: #000000;
}

button{
	width:160px; 
	height:50px;
	font-size:16px; 
	line-height:30px;
	color: #ffffff;
	text-transform:uppercase;
	text-align: center;
	border:none;
	border-radius:4px;
}

.main-header{
	height:110px;
	background-color:#eeeeee;
	display: flex;
	padding-top:50px;
}

.main-header-logo:hover{
	opacity: .8;
}

.main-header-logo:active{
	opacity:  .3;
}

.main-navigation div{
	display: inline-flex;
	align-items: center;
}

.inner-page header{
	height:360px;
	padding-top:40px;
	background-color:#eeeeee;
	margin-bottom:60px;
}

.inner-title{
	font-size:55px;
	line-height:55px;
	width:730px;
	margin:0 auto;
	padding:80px;
}

.site-navigation li{
	font-size:16px; 
	line-height:30px;
	color:#000000;
	text-transform:uppercase;
	list-style: none;
	display: inline-flex;	
	margin-left:50px;
}

li.basket{
	margin-right:50px;
}	

.main-navigation img{
	margin-left:100px;
	margin-right:200px;
}

.site-navigation a:hover,
li.basket a:hover{
	color: #fb565a;
}

.site-navigation a:active,
li.basket a:active{
	color: #a6a6a6;
}

.site-navigation a:visited,
li.basket a:visited{
	text-decoration: underline;
}

h1{
	font-size:55px;
	line-height:55px;
	background-color: #eeeeee;
}

.slider-container{
	width:1200px;
	margin:0 auto;
	padding:0 20px;
	box-sizing: border-box;
}

.visually-hidden{
	position: absolute;
	width:1px;
	height:1px;
	clip: rect(0, 0, 0, 0);
}

.slider{
	position: relative;
	background-color:#eeeeee;
}

.slider-controls{
	position: absolute;
	left:50%;
	bottom:104px;
	z-index:100;
	width:160px;
	height:18px;
	text-align:center;
	font-size:0;
	transform: translateX(-50%);
}

.slider-controls i{
	position: relative;
	display: inline-block;
	width:18px;
	height:18px;
	padding:8px;
	border-radius:50%;
	cursor: pointer;
}

.slider-controls i::after{
	content:"";
	position: absolute;
	top:8px;
	left:8px;
	z-index:1;
	width:18px;
	height:18px;
	background: #ffffff;
	border-radius:50%;
}

.slider-controls .active::before{

}

.slider-list{
	margin:0;
	padding:0;
	list-style: none;
}

.slider-item{
	display: none;
	padding:78px 0 80px 0;
}

.slider-item:nth-child(1){
	display: block;
}

.slider-item:nth-child(1){
  background-image: url("///C:/Users/Sabina/Desktop/Nerds/810095-nerds/img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2){
	background-image: url("///C:/Users/Sabina/Desktop/Nerds/810095-nerds/img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3){
	background-image: url("///C:/Users/Sabina/Desktop/Nerds/810095-nerds/img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider h3{
	max-width:600px;
	margin:0;
	margin-bottom:27px;
	font-size:55px; 
	line-height:55px;
	font-weight:500;
}

.slider-item p{
	max-width:430px;
	margin:0;
	margin-bottom:38px;
}

.slider-item-button{
	display: block;
	width:240px;
	padding:13px 0;
	font-size:16px;
	line-height:18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background-color: #fb565a;
	border-radius:3px;
	border: none;
}

.slider-item-button:hover,
.slider-item-button:focus{
	background-color: #e74246;
}

.slider-item-button:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products section{
	width:1100px;
	height:350px;
	display: flex;
	justify-content: space-between;
}

.products ul{
	list-style: none;
	margin-top:80px;
	margin-bottom:80px;
}

.products h3{
	font-size:24px; 
	line-height:30px;
	font-weight: bold;
	text-transform: uppercase;
}

.products div{
	display: inline-flex;
	align-items: center;
	width:300px;
	height:350px; 
	margin:50px;
}

.web-sites button{
	background-color: #fb565a;
}

.web-sites button:hover{
	background-color: #e74246;
}

.web-sites button:active{
	color: #e37376;
	background-color: #d7373b;
}

.apps button{
	background-color: #00ca74;
}

.apps button:hover{
	background-color: #00bc6c;
}

.apps button:active{
	color: #4dc491;
	background-color: #00aa62;
}

.presentations button{
	background-color: #efc84a;
}

.presentations button:hover{
	color: #eab534;
}

.presentations button:active{
	color: #ebba53;
	background-color: #e5a722;
}

.about-us-info{
	margin:120px 0;
	padding:0;
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
	align-items: center;
}

.about-us{
	width:660px;
}

.about-us-numbers{
	width:360px;
}

.about-us h3{
	font-size:45px; 
	line-height:45px;
	text-transform: none;
}

.about-us .developing{
	font-size:24px; 
	line-height:30px;
	font-weight: bold;
	text-transform:uppercase;
	list-style: none;
}

.developing{
	padding-top:50px;
}

.table-percents{
	width:360px;
	font-size:16px; 
	line-height:24px;
	text-transform: uppercase;
	font-weight:bold;
}

.numbers-percents td{
	font-size:45px; 
	line-height:10.06px;
	font-weight: bold;
	width:350px;
	height:100px;
	margin:0;
	padding:0;
}

.text-percents td{
	font-size:16px;
	line-height:18px;
}

.partners ul{
	display:flex;
	list-style: none;
	justify-content:space-around;
	
}

.partners li{
	margin-top:120px;
	margin-bottom:120px;
	margin-left:20px;
	opacity: .2;
}

.partners li:hover{
	opacity:1; 
}

.partners li:active{
	opacity: .1;
}

.logo-partners div{
	width:210px;
	height:100px; 
}

.write-us section{
	width:320px;
	height:310px; 
	background-color: #ffffff;
	

}

.write-us h3{
	font-size:18px;
	line-height:30px;
	font-weight: bold;
}

.write-us p{
	font-size:16px;
	line-height:18px;
	color: #666666;
}

.write-us button{
	background-color: #fb565a;

}

.write-us-form section{
	width:960px;
	height:590px;  
}

.write-us-form h2{
	font-size:45px;
	line-height:45px;
}

.write-us-form input{
	font:inherit;
	background-color: transparent;
 	border:2px solid #d7dcde;
}

.write-us-form input:hover{
	border:2px solid #b4b9bb;
}

.write-us-form input:focus{
	border:2px solid #b4b9bb;
}

.write-us-form button{
	background-color: #fb565a;
}

.main-footer{
	display: flex;
	flex-wrap: wrap;
	margin-top:70px;
}

.social-footer h2{
	font-size:36px;
	line-height:36px;
	font-weight: bold;
}

.social-footer p{
	font-size:16px;
	line-height:22px;
}

.social-button{
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
}

.discount{
	width:260px; 
	height:80px;
}

.inner-page body{
	color: #ffffff;
	background-color: #000000;
}

.inner-container{
	display: flex;
	justify-content: space-around;
}

section.filter-container{
	margin: 0;
	padding:0;
	width:260px;
}

.filter-item{
	margin:0;
	padding:0;
	border: none;
}

.filter-range{
	width:260px;
	margin-top:49px;
}

.filter-item legend{
	font-size:18px;
	line-height:24px;
	text-transform: uppercase;
	font-weight:700;
}

.range-controls{
	position: relative;
	height:41px;
	margin-bottom:15px;
	padding-top:39px;
	padding-right:20px;
	padding-left:20px;
	background-color:#f1f1f1;
	border-radius:5px;
}

.range-controls .scale{
	height:2px;
	background:#d7dcde;
}

.range-controls .bar{
	width:70%;
	height:2px;
	background: #00ca74;
}

.range-controls .toggle{
	position: absolute;
	top:31px;
	left:0;
	width:4px;
	height:4px;
	padding:0;
	border:8px solid #ffffff;
	background-color: #ababab; 
	box-shadow:0 2px 1px 0 #cfcfcf;
	border-radius:50%;
	cursor: pointer;
}

.range-controls .toggle-min{
	left:18px;
}

.range-controls .toggle-max{
	left:160px;
}

.price-controls{
	font-size:0;
}

.price-controls label{
	display: inline-block;
	width:50%;
	font-size:16px;
	text-transform: uppercase;
}

.price-controls input{
	width:60px;
	padding:8px 10px;
	margin-left:10px;
	font-family: Roboto, Arial, sans-serif;
	font-size:16px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius:5px;
	background: #f1f1f1;
}

.max-price{
	text-align: right;
}


.filter-grid,
.filter-features,
.sort-samples{
	list-style: none;
}

.filter-container fieldset{
	border: none;
}

.filter-container legend{
	font-size:18px;
	line-height:30px;
	font-weight: bold;
}

.filter-grid li,
.filter-features li{
	font-size:16px;
	line-height:20px;
}

label.filter-container{
	cursor: pointer;
}

.filter-container button{
	color: #000000;
	background-color: #eeeeee;
	line-height:18px;
	width:260px; 
	height:50px;
}

.filter-container button:hover{
	background-color: #dfdfdf;
}

.filter-container button:active{
	color: #959595;
	background-color: #d5d5d5;
}

div.samples-container{
	margin:0;
	padding:0;
	display: flex;
	flex-direction: column;
}

ul.sort-samples{
	margin:0;
	padding:0;
	text-transform: uppercase;
	list-style: none;
	display: inline-flex;
	margin-bottom:60px;	
}

ul.samples{
	width:760px;
	margin:0;
	padding:0;
	margin-bottom:60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.samples li{
	width:360px;
	margin:0;
	margin-bottom:30px;
	list-style: none;
}

.sort-type{
	font-size:14px;
	line-height:18px;
	margin-right:30px;
	opacity: .3;
}

.sort-type:hover{
	opacity: .6;
}

.sort-type:active,
.sort-type:focus{
	opacity:1;
}

.sort-type button{
	background-color: #fb565a;
}

.sort-type button:hover{
	background-color: #e74246;
}

.sort-type button:active{
	background-color: #d7373b;
}

li.sort-samples{
	font-size:18px;
	line-height:30px;
	font-weight: bold;
	margin-right:270px;
}




/*
.overlay{
	display: none;
	position: absolute;
}

a:hover{
	display: block;
}
*/
div.pages{
	margin-bottom:60px;
}

.page-1,
.page-2,
.page-3{
	width:50px;
	height:50px;
	color: #000000;
	background-color: #eeeeee; 
}

.page-1:hover,
.page-2:hover,
.page-3:hover, 
.next:hover{
	background-color: #dfdfdf;
}

.page-1:focus,
.page-2:focus,
.page-3:focus,
.next:focus{
	color: #959595;
	background-color: #dfdfdf;
}

.page-1:active,
.page-2:active,
.page-3:active,
.next:active{
	color: #000000;
	background-color: #ffffff;
	border:4px solid #dbdbdb;
}

.next{
	width:265px;
	height:50px;
	color: #000000;
	background-color: #eeeeee; 
}

